//Mixin

@mixin contenedor{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    background-color: $naranja;
}

@mixin fontStyle ($amarillo, $tamanio-letra, $negro) {
    color: $amarillo;
    background-color: $verde;
    font-size: $tamanio-letra;
    &:hover{
        background-color: $negro;
    }
}